@import '../../assets/scss/main.scss';

.board {
    background: $secondary-color;
    width: 600px;
    border-radius: 30px;
    padding: 33px;
    border: 1px solid $grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    @media screen and (max-width: 800px) {
    width: 300px;
    }
    .top {
        @include d-flex-jc(space-between);
        .question-no {
            .current-ques {
                font-size: 33px;
                font-weight: 700;
                color: $teritiary-color;
            }
            .total-ques {
                font-size: 20px;
                color: $dark;
                font-weight: $font-weight-600;
            }
        }
        .timer {
            @include d-flex-ai(center);
            gap: 7px;
            .timer-text {
                @include d-flex-ai(center);
                color: $red;
                font-weight: 700;
                .timer-img {
                    height: 26px;
                    margin-right: 10px;
                }
            }
            .time {
                font-size: 33px;
                font-weight: 700;
                color: $teritiary-color;
            }
        }
    }
    .ques-ans {
        .question {
            font-weight: $font-weight-600;
        }
        .answers {
            @include d-flex-fd(column, flex-start);
            gap: 10px;
            .options {
                padding: 5px;
                border: 1px solid $dark-magenta;
                width: 100%;
                border-radius: 10px;
                word-wrap: break-word;
                line-height: 1.5;
                transition: all .3s;
                position: relative;
                &:hover {
                    transform: translateZ(4px);
                    box-shadow: 3px 3px $dark-magenta;
                }
                &.incorrect {
                    background-image: url("../../assets/images/wrong-ans.svg");
                    background-repeat: no-repeat;
                    background-position: right;
                    box-shadow: 3px 3px $dark-magenta;
                }
                &.correct {
                    background-image: url("../../assets/images/right-ans.svg");
                    background-repeat: no-repeat;
                    background-position: right;
                    box-shadow: 3px 3px $dark-magenta;
                }
            }
        }
    }
    .bottom {
        @include d-flex-jc(flex-end);
        padding: 20px;
        .next-btn {
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary-color;
                border-radius: 10rem;
                z-index: -2;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: darken($primary-color, 15%);
                transition: all .3s;
                border-radius: 10rem;
                z-index: -1;
            }
            &:hover {
                color: $light;
                &:before {
                    width: 100%;
                }
            }

        }
    }
}