@keyframes slide-right-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-left-in {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes questionmark-animation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50px);
    }
}