$light: #fff;
$grey: #888888;
$dark-blue-01: #265d97;
$primary-color: #88096e;
$teritiary-color: #7a00ec;
$dark: rgba(0, 0, 0, 0.86);
$dark-magenta: #aa1c90;
$ocean-blue: #87bfd8;
$light-01: #f0f7fa;
$yellow: #ffff00;
$red: #c0392b;
$yellow-01: #fed049;
$dark-blue-02: #252465;
$blue-01: #34239d;
$dark-grey: #222;