$light: #fff;
$grey: #888888;
$secondary-color: #fef7ec;
$primary-color: #77aa58;
$teritiary-color: #7a00ec;
$dark: rgba(0, 0, 0, 0.86);
$dark-01: rgba(0, 0, 0, .5);
$dark-magenta: #aa1c90;
$ocean-blue: #87bfd8;
$light-01: #f0f7fa;
$yellow: #ffff00;
$red: #c0392b;
$yellow-01: #fed049;
$dark-blue-02: #252465;
$blue-01: #34239d;
$dark-grey: #222;
$off-white: #fef7ec;