@import '../../assets/scss/main.scss';

.wrapper {
    background-color: $primary-color;
    border-radius: 10px;
    padding: 30px;
    height: 100vh;
    @include d-flex-ai-jc(center, center);
    .user-quiz-details {
        @include d-flex(column);
        background: $secondary-color;
        padding: 20px;
        border-radius: 20px;
        width: 600px;
        gap: 20px;
        .quiz-content {
            @include d-flex(center);
            align-self: center;
        }
        .replay {
            @include d-flex-jc(space-evenly);
            @media screen and (max-width : 500px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            a {
                text-decoration: none;
            }
            .restart-btn {
                @include d-flex-ai(center);
                padding: 1rem 2rem;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                background-color: $primary-color;
                color: $light;
                transition: all 0.3s ease;
                &:hover {
                    background-color: $dark-grey;
                }
                img {
                    margin-right: 1rem;
                    width: 20px;
                    height: 20px;
                }
                span {
                    font-size: 1rem;
                    font-weight: $font-weight-600;
                }
            }
        }
    }
}